{#
/**
 * @file
 * Theme implementation for FYI notification.
 */
#}

<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
      {% if unread > 0 %}
        <i data-count="{{ unread }}" id="notificationcount" class="glyphicon glyphicon-bell notification-icon"></i>
      {% else %}
        <i class="glyphicon glyphicon-bell notification-icon-read"></i>
      {% endif %}
    </a>
    <ul class="dropdown-menu notify-drop">
      <div class="notify-drop-title fyi-notification">
        {% if unread > 1 %}
          {% trans %} You have {{ unread }} unread notifications {% endtrans %}
        {% elseif unread > 0 %}
          {% trans %} You have {{ unread }} unread notification {% endtrans %}
        {% endif %}
        {% if unread == 0 %}
          {% trans %} You have no unread notifications {% endtrans %}
        {% endif %}
      </div>
      <!-- end notify title -->
      <!-- notify content -->
      <div class="drop-content">
        {% for notifications in notification_list %}
          <li data-id="{{  notifications.id }}" data-nas-id = "{{ notifications.nas_id }}" data-read-status = "{{ notifications.status ? 'read' : 'unread' }}" class="notification-items {{ notifications.status ? 'read' : 'unread' }}">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            <span class="notification-msg">{{ notifications.message | raw }}</span>
            <span class="glyphicon glyphicon-trash notification-remove"></span>
          </li>
        {% endfor %}
      </div>
      {% if total > 0 %}
        <span class="clear-all-notification" data-uid="{{ uid }}" data-notification-id = "{{ notification_list[0].id }}">{{ 'Clear All'|t}}</span>
      {% endif %}
    </ul>
  </li>
</ul>
